@{
       var list = ViewBag.list as IList<SignalWell.Web.UI.Models.Entity_Product_Item>;

    var entity = ViewBag.entity as SignalWell.Web.UI.Models.Entity_Product_Item;
ViewBag.Title = entity.PName ?? "解决方案";
}
@section bodyleft{
   <div class="handle_a">
        <div class="head_bg">
            <div class="cl top_h">
			<div class="nov m_l l">   
                    <ul><li> <a href="javascript:;" class="a"><b>解决方案</b></a></li></ul>
    </div>
                <div class="nov m_l l">
                     
                    <ul>

        @foreach (var item in list)
        {
            var bgcolor = "#55a002";
            if (entity.ID == item.ID)
            {
                bgcolor = "#2473ba";
            }
           <li><a href="@Url.Action("view", new { id = item.ID })" class="a hover" > <span class="db tingico liico0"></span> <b>@item.PName</b></a></li>
                 }
    </ul>
    </div>
                <div class="park"></div>
            </div>
        </div>
    </div>
}
<table width="98%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td height="50" class="right_top"> <span style="float:right;"> 当前位置：<a href="/" style=" color:#FFFFFF; text-decoration:none">首页</a> >> 解决方案  >> @Html.Raw(entity.PName)</span> @Html.Raw(entity.PName)</td>
    </tr>
    <tr>
        <td class="right_zi" height="450" valign="top">
            <div style="text-align: center; width: 100%; margin: 0 auto;">
                <img src="@entity.ImageUrl" style="width:500px; " />
            </div>
            <br />
            <div align="left">
                @Html.Raw(entity.Description)
            </div>
            <p></p>
        </td>
    </tr>
</table>
