@{
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="Description" />
    <meta name="keywords" content="template, windows 8, website, design, download, metro ui, metro template" />
    <link rel="icon" type="/Content/image/ico" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width,initial-scale=1.00, minimum-scale=1.00">
    <title>新诺威</title>

    <link href='http://fonts.googleapis.com/css?family=Just+Another+Hand' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/Content/css/layout.css" />
    <link rel="stylesheet" type="text/css" href="/Content/css/nav.css" />
    <link rel="stylesheet" type="text/css" href="/Content/css/tiles.css" />
    <link rel="stylesheet" type="text/css" href="/Content/themes/theme_default/theme.css" />
    <link rel="stylesheet" type="text/css" href="/Content/plugins/accordion/plugin.css" />
    <link rel="stylesheet" type="text/css" href="/Content/plugins/autozoom/plugin.css" />
    <link rel="stylesheet" type="text/css" href="/Content/plugins/custom/plugin.css" />
    <link rel="stylesheet" type="text/css" href="/Content/plugins/panels/plugin.css" />
    <link rel="stylesheet" type="text/css" href="/Content/plugins/plugintemplate/plugin.css" />
    <link rel="stylesheet" type="text/css" href="/Content/plugins/tileflip/plugin.css" />
    <link rel="stylesheet" type="text/css" href="/Content/plugins/tilefliptext/plugin.css" />
    <link rel="stylesheet" type="text/css" href="/Content/plugins/tilemosaic/plugin.css" />
    <link rel="stylesheet" type="text/css" href="/Content/plugins/tileslide/plugin.css" />
    <link rel="stylesheet" type="text/css" href="/Content/plugins/tileslidefx/plugin.css" />
    <link rel="stylesheet" type="text/css" href="/Content/plugins/tileslideshow/plugin.css" />
    <link rel="stylesheet" type="text/css" href="/Content/plugins/tiletemplate/plugin.css" />
    <link rel="stylesheet" type="text/css" href="/Content/plugins/tiletwitter/plugin.css" />
    <link rel="stylesheet" type="text/css" href="/Content/plugins/tileweather/plugin.css" />

    <style>
        html {
            background-color: #0F6D32;
        }

        #bgImage {
            position: fixed;
            top: 0;
            left: 0;
            z-index: -4;
            min-width: 115%;
            min-height: 100%;
            -webkit-transition: margin-left 450ms linear;
            -moz-transition: margin-left 450ms linear;
            -o-transition: margin-left 450ms;
            -ms-transition: margin-left 450ms;
            transition: margin-left 450ms;
        }

        .tile {
            -webkit-transition-property: box-shadow, margin-left, margin-top;
            -webkit-transition-duration: 0.25s, 0.5s, 0.5s;
            -moztransition-property: box-shadow, margin-left, margin-top;
            -moz-transition-duration: 0.25s, 0.5s, 0.5s;
            -o-transition-property: box-shadow, margin-left, margin-top;
            -o-transition-duration: 0.25s, 0.5s, 0.5s;
            -ms-transition-property: box-shadow, margin-left, margin-top;
            -ms-transition-duration: 0.25s, 0.5s, 0.5s;
            transition-property: box-shadow, margin-left, margin-top;
            transition-duration: 0.25s, 0.5s, 0.5s;
        }
    </style>
    <script type='text/javascript'>var _gaq = _gaq || []; _gaq.push(['_setAccount', 'UA-30159978-1']); _gaq.push(['_trackPageview']); (function () { var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s); })();</script>
    <!--[if IE]>
    <script src="/Content/js/html5.js"></script>
     <![endif]-->
    <!--[if lt IE 9]>
    <script type="text/javascript" language="javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/Content/js/html5.js"></script>
	<![endif]-->
    <!--[if gte IE 9]><!-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="/Content/js/html5.js"></script>
    <![endif]-->
    <!--[if !IE]>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<![endif]-->

    <script type="text/javascript">window.jQuery || document.write('<\/script><script type="text/javascript" src="/Content/js/jquery1102.js"><\/script>')</script>
    <script type="text/javascript" src="/content/js/plugins.js"></script>
    <script>
        scale = 145;
        spacing = 10;
        theme = 'theme_default';
        $group.titles = ["Home", "Download", "Support"];
        $group.spacingFull = [5, 5, 5];
        $group.inactive.opacity = "1";
        $group.inactive.clickable = "1";
        $group.showEffect = 0;
        $group.direction = "horizontal";
        mouseScroll = "1";
        siteTitle = 'Metro UI template';
        siteTitleHome = 'Home';
        showSpeed = 400;
        hideSpeed = 300;
        scrollSpeed = 550;

        device = "desktop";
        scrollHeader = "1";
        disableGroupScrollingWhenVerticalScroll = "";

        /*For background image*/
        bgMaxScroll = "130";
        bgScrollSpeed = "450";

        /*For responsive */
        autoRearrangeTiles = "1";
        autoResizeTiles = "1";
        rearrangeTreshhold = 3;

        /*Locale */
        lang = "en";
        l_pageNotFound = "404 - Page not Found";
        l_pageNotFoundDesc = "<h2 class='margin-t-0'>404 - Page not Found</h2>";
        l_menu = "Menu";
        l_goToFullSiteRedirect = "You'll be redirected to the full site";
        panelDim = '0.6'; hidePanelOnClick = '1'; panelGroupScrolling = ''; pageTitles = new Array(); pageTitles['typography.php'] = 'Typography'; pageTitles['changelog.php'] = 'Changelog and Bugs'; pageTitles['features.php'] = 'Features'; pageTitles['about.php'] = 'About'; pageTitles['tutorials.php'] = 'Docs and Tutorials'; pageTitles['contact.php'] = 'Contact'; pageTitles['download.php'] = 'Download'; pageTitles['buytemplate.php'] = 'Buy the Metro UI Template'; pageTitles['demo.php'] = 'Demo sites and examples'; pageTitles['download-full.php'] = 'Download the full Metro UI template'; pageTitles['download-lite.php'] = 'Download the lite Metro UI template'; pageURL = new Array(); pageURL['typography.php'] = 'Typography'; pageURL['changelog.php'] = 'bugs'; pageURL['features.php'] = 'Features'; pageURL['about.php'] = 'about'; pageURL['tutorials.php'] = 'tutorials'; pageURL['contact.php'] = 'Contact'; pageURL['download.php'] = 'Download'; pageURL['buytemplate.php'] = 'buy'; pageURL['demo.php'] = 'demo';</script>

    <script type="text/javascript" src="/Content/plugins/accordion/plugin.js"></script>
    <script type="text/javascript" src="/Content/plugins/autozoom/plugin.js"></script>
    <script type="text/javascript" src="/Content/plugins/panels/desktop.js"></script>
    <script type="text/javascript" src="/Content/plugins/plugintemplate/plugin.js"></script>
    <script type="text/javascript" src="/Content/plugins/tileflip/plugin.js"></script>
    <script type="text/javascript" src="/Content/plugins/tilefliptext/plugin.js"></script>
    <script type="text/javascript" src="/Content/plugins/tilemedia/plugin.js"></script>
    <script type="text/javascript" src="/Content/plugins/tilemosaic/plugin.js"></script>
    <script type="text/javascript" src="/Content/plugins/tileslide/plugin.js"></script>
    <script type="text/javascript" src="/Content/plugins/tileslidefx/plugin.js"></script>
    <script type="text/javascript" src="/Content/plugins/tileslideshow/plugin.js"></script>
    <script type="text/javascript" src="/Content/plugins/tiletemplate/plugin.js"></script>
    <script type="text/javascript" src="/Content/plugins/tiletwitter/plugin.js"></script>
    <script type="text/javascript" src="/Content/plugins/tileweather/plugin.js"></script>
    <script type="text/javascript" src="/Content/js/functions.js"></script>
    <script type="text/javascript" src="/Content/js/main.js"></script>
    <script type="text/javascript" src="/Content/plugins/tilemedia/jquery.media.js"></script>
    <script type="text/javascript" src="/Content/plugins/tilemedia/jquery.metadata.js"></script>
    <script type="text/javascript" src="/Content/plugins/tileweather/jquery.simpleWeather-2.1.2.min.js"></script>
    <style>
        #catchScroll {
            background: rgb(30,30,30);
            -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=00)';
            filter: alpha(opacity=00);
            -moz-opacity: 0;
            -khtml-opacity: 0;
            opacity: 0;
        }
    </style>
    <noscript>
        <style>
            #tileContainer {
                display: block;
            }
        </style>
    </noscript>
</head>
<body class="full desktop">

   
	<header>
	<div id="headerWrapper" style="position:fixed;" >
		<div id="headerCenter" >
			<div id="headerTitles">
				<img src="/Content/images/logo.png">
		    </div>
		    <nav>
      <a id="group0" href="/">
	<img src="/Content/images/home.png"/>
	网站主页
	&nbsp;Home&nbsp;
</a>
<a id="group1">
	<img src="/Content/images/dh.png" />
	网站导航
	Navigation
 </a>
<a id="group2" href="@Url.Action("about", "home", new { id=24,cid=47})">
	<img src="/Content/images/tel.png" />
	联系我们
	Content Us
</a>			</nav>
		</div>
    </div>
    </header>
	 <img src="/Content/themes/theme_tech/img/background.jpg" alt='background-image' id='bgImage' />
	
	<footer><span style="color:#FFFFFF;position:fixed; right:0px; bottom:0px; width:600px;text-align:right; "> 版权所有：广州市新锘威智能科技有限公司  粤ICP备******号  技术支持：陕西万博 </span> </footer>
	
    <div id="wrapper">
        <div id="centerWrapper">
            <div id="tileContainer">
                <img id='arrowLeft' class="navArrows" src='/Content/themes/theme_default/img/primary/arrowLeft.png' width="50" height="101" onclick="javascript:$group.goLeft();" style="margin-left: -30px;" alt="left " />
                <img id='arrowRight' class="navArrows" src='/Content/themes/theme_default/img/primary/arrowRight.png' width="50" height="101" onclick="javascript:$group.goRight();" style="margin-right: 30px;" alt="right " />
                <a href="#&amp;home" id="groupTitle0" class="groupTitle" style="margin-left: 0px; margin-top: 0px" onclick="javascript:$group.goTo(0);">
                   <!-- <h3>Home</h3>-->
                </a>
                <a href="#&amp;download" id="groupTitle1" class="groupTitle" style="margin-left: 775px; margin-top: 0px" onclick="javascript:$group.goTo(1);">
                    <h3>
                        <!--Download-->
                        <!--Navigation--></h3>
                </a>
                <a href="#&amp;support" id="groupTitle2" class="groupTitle" style="margin-left: 1550px; margin-top: 0px" onclick="javascript:$group.goTo(2);">
                    <h3>
                        <!--Support-->
                       <!-- Content Us--></h3>
                </a>

                <a href="@Url.Action("about", "home", new { id=10,cid=41})" class="tile tileCenteredSlide left group0" style="margin-top: 45px; margin-left: 0px; width: 300px; height: 145px; background: rgb(80, 150, 1);background:#11528F" data-pos='45-0-300'>
                    <div class="container1" style="width: 302px; height: 147px;font-weight: 300;font-size: 36px;line-height:145px;text-align:center">
					关于我们
					  <h3 class='margin-t-0'></h3>
                       <!-- <img src="/Content/images/gsjj.png" width="302" height="148">-->
                    </div>
                  <div class="container2">
                        <!--<img src='/Content/images/xswl.png' alt='' /> <img src="/Content/images/gsjj.png" width="302" height="148">-->关于我们
                    </div>

                </a>
                <a href='@Url.Action("about", "home", new { id=15,cid=41})' id="tileSlideshow0-2-0" class="tile tileSlideshow group0 " style="margin-top: 45px; margin-left: 310px; width: 300px; height: 145px; background: #f39900;"
                    data-pos='45-310-300' data-n="0">

                        <div class='imgWrapperBack' style="width: 302px; height: 147px;font-weight: 300;font-size: 36px;line-height:145px;text-align:center">
                          新闻中心
                    </div>
                    <div class='imgWrapper' style="width: 302px; height: 147px;font-weight: 300;font-size: 36px;line-height:145px;text-align:center">
                       <!-- <img src='/Content/images/xswl.png' alt='' />-->
					   新闻中心
                    </div>

                  <!--  <div class='imgText'>标题一</div>
                    <script>slideshowTiles["tileSlideshow0-2-0"] = [["/Content\/images\/xswl.png", "/Content\/images\/gsjj.png", "/Content\/img\/features\/seo.png", "/Content\/img\/features\/devices.png"], ["", "", "", ""], ["标题一", "Using the latest technology", "SEO optimized", "Responsive Webdesign"], "slide-right, slide-up, slide-down,slide-left", 4000]</script>

                    <div class='tileLabelWrapper top' style='border-top-color: #FF8000;'>
                        <div class='tileLabel top'>网络</div>
                    </div>-->
                </a>
				
                <a href='@Url.Action("about", "home", new { id=11,cid=41})' class="tile tileFlipText vertical group0 " style="margin-top: 200px; margin-left: 1085px; width: 300px; height: 145px;"
                    data-pos='200-310-300'>


                    <div class='flipContainer'>
                        <div class='flipFront' style="background: #FF8000;display:inherit;font-weight: 300;font-size: 36px;line-height:145px;text-align:center;height:145px">
                         成功案例    <h3>
                               <!-- <img title='' alt='' style='margin-top: 0px; margin-left: 0px;'
                                    src='/content/img/icons/pen.png' height="60" width="60" />-->
                                	</h3>
                        </div>
                        <div class='flipBack' style="background: #FF3C00; height:145px;width: 300px; padding:0px; ">
                            <h5 style=" height:145px;width: 300px; padding:0px;margin:0px; font-weight: 300;font-size: 36px;line-height:145px;text-align:center">
							
							成功案例
                               <!-- <div style="font-weight: 300; font-size: 36px; padding: 0 0 0px 0; color: #FFF; font-family: 'Just Another Hand', cursive;display:inherit; height:145px;width: 300px; padding:0px;margin:0px;">
                                    <img title="" alt="" style="position: relative; vertical-align: middle; top: 0px; margin-right: 0px;" src="/Content/img/icons/pen2.png" height="50" width="50">
                                    心中发研    
                                </div>-->
                            </h5>
                        </div>

                    </div>
                </a>
				
				
                <a href='@Url.Action("about", "home", new { id=19,cid=44})' class="tile tileSlideFx group0 " style="margin-top: 200px; margin-left: 0px; width: 302px; height: 145px; background: #ab003a;" data-pos='200-0-300'>

                    <div class='slideText' style='width: 302px; height: 147px;font-weight: 300;font-size: 36px;line-height:145px;text-align:center;padding: 0px;'>
                         专利成果
                    </div>
                 <!--    <div class='imgWrapper' style="width: 302px; height: 147px;font-weight: 300;font-size: 36px;line-height:145px;text-align:center">
                       <img src='/Content/images/fzlc.png' alt="" title="" />
                    </div>-->
                   <!-- <div class='tileLabelWrapper bottom'>
                        <div class='tileLabel bottom' style='border-bottom-color: rgb(80,150,1);'>历程</div>
                    </div>-->

                </a>
                <a href='#' class="tile tileCentered group1 " style="margin-top: 45px; margin-left: 775px; width: 300px; height: 145px; background: #11528f;"
                    data-pos='45-775-300'>
                    <div class="container" style="width: 302px; height: 147px;font-weight: 300;font-size: 36px;line-height:145px;text-align:center;padding: 0px;" >
					
					<!--style="background: #11528f;"
                        onmouseover="javascript:$(this).css('background','#00BFFF')"
                        onmouseout="javascript:$(this).css('background','#11528f')"-->
                      <!--  <h3 style='color: #FFF'
                            onmouseover="javascript:$(this).css('color','#11528f')"
                            onmouseout="javascript:$(this).css('color','#FFF')">
                            <img title='' alt='' style='margin-top: 0px; margin-left: 0px;'
                                src='/content/img/icons/box_download.png' height="60" width="60" />

                               </h3> -->产品中心

                    </div>


                </a>
                <a href="@Url.Action("about", "home", new { id=29,cid=49})" class="tile tileSlide up group1 " style="margin-top: 200px; margin-left: 775px; width: 300px; height: 145px; background: #00BFFF; padding: 0;" data-pos='200-775-300' data-doslide="1">
                    <div class='slideText' style='height: 145px; width: 100%; top: 145px;'>
                        <div style='background-color: #11528f; width: 100%; height: 100%; position: relative; padding-top: 60px;font-weight: 300;font-size: 36px;line-height:45px;text-align:center'>
                        服务与支持  <!--  <h3 class='margin-t-0'></h3>-->
                        </div>
                    </div>
                    <div class="imageWrapper">
                        <div class="imageCenterer" style="width: 302px; height: 147px;font-weight: 300;font-size: 36px;line-height:145px;text-align:center">
                       服务与支持   <!--  <img src='/content/images/cgal.png' alt="" title="" style="width: 302px;" />-->
                        </div>
                       <!-- <div class='tileLabelWrapper top' style='border-top-color: #11528f;'>
                            <div class='tileLabel top'>案例&nbsp;&nbsp;</div>
                        </div>-->
                    </div>

                </a>
                <a href='#' class="tile tileCentered group1 " style="margin-top: 45px; margin-left: 1085px; width: 300px; height: 145px; background: #8ec31f;" data-pos='45-1085-300'>
                    <div class="container" style="background: #8ec31f;width: 302px; height: 147px;font-weight: 300;font-size: 36px;line-height:145px;text-align:center"" ><!--onmouseover="javascript:$(this).css('background','#00BFFF')" onmouseout="javascript:$(this).css('background','#FFF')"-->
                       <!-- <h3 style='color: #11528f' onmouseover="javascript:$(this).css('color','#FFF')"
                            onmouseout="javascript:$(this).css('color','#11528f')">
                           <img title='' alt='' style='margin-top: 0px; margin-left: 0px;' src='/content/img/icons/box_download_blue.png' height="60" width="60" /
                            </h3>-->   解决方案
                    </div>
                </a>
				
				
                <a href="@Url.Action("about", "home", new { id=20,cid=45})"  id="tileScroll1_2-1" class="tile tileScroll group1" style="margin-top: 200px; margin-left: 310px; width: 145px; height: 145px; background: #11528F;"
                    data-pos='200-1085-145'>
                    <div class='tileTitle' ><span style='font-size: 24px;font-weight: 300;font-size: 26px;line-height:145px;text-align:center'>研发中心</span></div>
                   <!-- <div class='divScroll' style='margin-left: 12px;'> </div>-->
					
                   <!-- <script>scrollTile("1_2-1", ["陈", "张", "王", "李"], 2000, 0)</script>-->
                </a>
				
                <a target='_blank' href='#' class="tile tileImg group1 bottom endGroup" style="margin-top: 200px; margin-left: 465px; width: 145px; height: 145px; background: #509601;" data-pos='200-1240-145'>
                <div style='max-height: 145px;font-weight: 300;font-size: 26px;line-height:145px;text-align:center;width:145px;padding: 0px; width:145px;'>绿能趋势</div> 
				
				<!--  <img title='' alt='' src='/content/img/v3.png' width="145" style='margin-left: -72.5px; margin-top: -72.5px; max-height: 145px;' >-->
                   <!-- <div class='tileLabelWrapper bottom'>
                        <div class='tileLabel bottom' style='border-bottom-color: #FFF;'><span style='color: #11528f;'>新诺威</span></div>
                        <div class='imgDesc' style='display: none;'>新诺威 </div>
						
						
                    </div>-->
                </a>
				
				
				
				
				
                <a href='@Url.Action("about", "home", new { id=24,cid=47})' class="tile group2 align-center" style="margin-top: 45px; margin-left: 1550px; width: 455px; height: 145px; background: #FF8000;"
                    data-pos='45-1550-455'>
                    <div style='line-height: 30px; margin-top: 40px; padding: 5px; text-aling: center;line-height:45px; font-size: 36px;'>
                        <span style=' letter-spacing: 0px; font-weight: 300;text-align:center'>联系我们</span>
                       <!-- <div style='font-size: 20px; letter-spacing: 2px; font-weight: bold;'>18888888888</div>-->
                    </div>
                   <!-- <div class='tileLabelWrapper top' style='border-top-color: rgb(205, 88, 0);'>
                        <div class='tileLabel top'>联系我们</div>
                    </div>-->
                </a>
                <a href='#' class="tile tileFlip horizontal group2 " style="margin-top: 200px; margin-left: 1550px; width: 145px; height: 145px;" data-pos='200-1550-145'>

                    <div class='flipContainer'>
                        <div class='flipFront' style="background: #c82345;font-weight: 300;font-size: 26px;line-height:145px;text-align:center">
						
						加入我们
                            <!--<div class='flipImgCenterer'>
                                <img src="/Content/img/forum.png" alt="" title="" style="width: 103.5px;" />
                            </div>-->
                        </div>
                      <!--  <div class='flipBack' style="background: #c82345;">
                            <h5><span style='font-size: 22px;'>weixi</span></h5>
                        </div>-->

                    </div>
                </a>
                <a href='http://mail.sinawell.com' class="tile tileFlip horizontal group2 " style="margin-top: 200px; margin-left: 1705px; width: 145px; height: 145px;"
                    data-pos='200-1705-145'>

                    <div class='flipContainer' style="background: #dea317;font-weight: 300;font-size: 26px;line-height:145px;text-align:center">
					
					企业邮箱
                     <!--    <div class='flipFront' style="background: #dea317;font-weight: 300;font-size: 26px;line-height:145px;text-align:center">
						
                           <div class='flipImgCenterer'>
                                <img src="/Content/img/icons/mail.png" alt="" title="" style="width: 103.5px;" />
                            </div>
                        </div>-->
                       <!-- <div class='flipBack' style="background: #dea317;">
                            <h5><span style='font-size: 22px;'>Contact me</span></h5>
                        </div>-->

                    </div>
                </a>
                <a class="tile tileMosaic group2 noClick" style="margin-top: 200px; margin-left: 1860px; width: 146px; height: 145px; background: #90D444;"
                    data-pos='200-1860-146'>


                    <div id='f_container' class='f_container9' style="font-weight: 300;font-size: 26px;line-height:145px;text-align:center">
					
					友情链接
                     <!--   <img id='tileMosaic9_1' src='/Content/img/chars/a.png'><img id='tileMosaic9_2' src='/content/img/chars/b.png'><img id='tileMosaic9_3' src='/content/img/chars/c.png'><img id='tileMosaic9_4' src='/content/img/chars/d.png'><img id='tileMosaic9_5' src='/content/img/chars/e.png'><img id='tileMosaic9_6' src='/content/img/chars/f.png'><img id='tileMosaic9_7' src='/content/img/chars/g.png'><img id='tileMosaic9_8' src='/content/img/chars/h.png'><img id='tileMosaic9_9' src='/content/img/chars/i.png'>
                    </div>
                    <div id='b_container' class='b_container9'>
                        <div id='tileMosaic9_1b' style='background-image: url(/Content/img/chars/a_color.png)'></div>
                        <div id='tileMosaic9_2b' style='background-image: url(/Content/img/chars/a_color.png)'></div>
                        <div id='tileMosaic9_3b' style='background-image: url(/Content/img/chars/a_color.png)'></div>
                        <div id='tileMosaic9_4b' style='background-image: url(/Content/img/chars/a_color.png)'></div>
                        <div id='tileMosaic9_5b' style='background-image: url(/Content/img/chars/a_color.png)'></div>
                        <div id='tileMosaic9_6b' style='background-image: url(/Content/img/chars/a_color.png)'></div>
                        <div id='tileMosaic9_7b' style='background-image: url(/Content/img/chars/a_color.png)'></div>
                        <div id='tileMosaic9_8b' style='background-image: url(/Content/img/chars/a_color.png)'></div>
                        <div id='tileMosaic9_9b' style='background-image: url(/Content/img/chars/a_color.png)'></div>
                    </div>
                    <script>setTimeout(function () { tileMosaicFlip(10, 0, 9, []); }, 2000);</script>
-->
                </a>
            </div>
            <div id="subNavWrapper"></div>
            <div id="contentWrapper">
                <div id="content">
                </div>
            </div>
        </div>
       
    </div>
    <div id="catchScroll"></div>
    <div id='panel' style='max-width: 400px; right: -400px; background-color: #444;'>
        <img id='panelArrow' src='/Content/themes/theme_default/img/panels/arrow.png' onclick='javascript:hidePanel();' alt='hide panel'>
        <img id='panelLoader' src='/Content/themes/theme_default/img/panels/loader.gif' alt='Loading...'>
        <div id='panelContent'>
        </div>
        <div class='preloadedPanel' id='panel_themes_php'>
            <h1>Themes</h1>
            <div class='sidebar sidebar-left' style='width: 315px'>
                <a target='_blank' href='#' class="tile tileSlide up group0 demoBorder" style="margin-top: 45px; margin-left: 0px; width: 300px; height: 145px; background: #509601; padding: 0;"
                    data-pos='45-0-300' data-doslide="">


                    <div class='slideText' style='height: 36.25px; width: 100%; bottom: 0;'>
                        <div style='font-weight: 300; font-size: 24px;'>Default</div>
                    </div>
                    <div class="imageWrapper">
                        <div class="imageCenterer" style="width: 300px; height: 145px; line-height: 143px;">
                            <img src='/content/img/demos/std.png' alt="" title="" style="width: 300px;" />
                        </div>
                    </div>

                </a>
                <a target='_blank' href='#' class="tile tileSlide up group0 demoBorder" style="margin-top: 200px; margin-left: 0px; width: 300px; height: 145px; background: #509601;"
                    data-pos='200-0-300' data-doslide="">


                    <div class='slideText' style='height: 36.25px; width: 100%; bottom: 0;'>
                        <div style='font-weight: 300; font-size: 24px;'>Classic</div>
                    </div>
                    <div class="imageWrapper">
                        <div class="imageCenterer" style="width: 300px; height: 145px; line-height: 143px;">
                            <img src='/content/img/demos/classic.png' alt="" title="" style="width: 300px;" />
                        </div>
                    </div>

                </a>
                <a target='_blank' href='#' class="tile tileSlide up group0 demoBorder" style="margin-top: 355px; margin-left: 0px; width: 300px; height: 145px; background: #509601;"
                    data-pos='355-0-300' data-doslide="">


                    <div class='slideText' style='height: 36.25px; width: 100%; bottom: 0;'>
                        <div style='font-weight: 300; font-size: 24px;'>Tech</div>
                    </div>
                    <div class="imageWrapper">
                        <div class="imageCenterer" style="width: 300px; height: 145px; line-height: 143px;">
                            <img src='/content/img/demos/tech.png' alt="" title="" style="width: 300px;" />
                        </div>
                    </div>

                </a>
                <a target='_blank' href='#' class="tile tileSlide up group0 demoBorder" style="margin-top: 510px; margin-left: 0px; width: 300px; height: 145px; background: #509601;"
                    data-pos='510-0-300' data-doslide="">


                    <div class='slideText' style='height: 36.25px; width: 100%; bottom: 0;'>
                        <div style='font-weight: 300; font-size: 24px;'>Modern</div>
                    </div>
                    <div class="imageWrapper">
                        <div class="imageCenterer" style="width: 300px; height: 145px; line-height: 143px;">
                            <img src='/Content/img/demos/modernlight.png' alt="" title="" style="width: 300px;" />
                        </div>
                    </div>

                </a>
            </div>
            <style>
                #content {
                    margin-left: 0px;
                }

                .sidebar-left {
                    margin-left: 0px;
                }
            </style>
            <noscript>
                <style>
                    .sidebar > * {
                        position: relative;
                        top: 0;
                        margin: 5px !important;
                        display: inline-block;
                    }
                </style>
            </noscript>
            <script>
                /* Fix height of sidebar for layout */
                sbDown = 0;
                $("#content, #panelContent").children('.sidebar').children(".tile").each(function () {
                    if (typeof $(this).attr("href") != "undefined") {
                        $(this).attr("href", $(this).attr("href").replace("?p=", "#!/"));
                    }
                    var thisDown = parseInt($(this).css("margin-top")) + $(this).height();
                    if (thisDown > sbDown) {
                        sbDown = thisDown;
                    }
                });
                $('#contentWrapper, .sidebar').css("min-height", sbDown + 20 + "px");


                /* Responsive sidebar position */
                $.plugin($toColumn, {
                    sidebarAfter: function () {
                        $("#content").children(".sidebar").appendTo("#centerWrapper").css("top", 20).css("margin-left", 0);
                    }
                });
                $.plugin($toSmall, {
                    sidebarBefore: function () {
                        $("#centerWrapper").children(".sidebar").prependTo("#content").css("top", 0).css("margin-left", $(".sidebar").css("width"));
                    }
                });
                $.plugin($toFull, {
                    sidebarBefore: function () {
                        $toSmall.sidebarBefore();
                    }
                });
                $.plugin($beforeSubPageShow, {
                    checkSidebar: function () {
                        switch ($page.layout) {
                            case "column": $toColumn.sidebarAfter(); break;
                            case "small": $toSmall.sidebarBefore(); break;
                            case "full": $toSmall.sidebarBefore(); break;
                        }
                    }
                });
                $events.sidebarShow();
            </script>
        </div>
    </div> 
</body>
</html>
