@model EFramework.Entities.Domain.Account.EF_Account_UserEntity

@{
    ViewBag.Title = "View1";
}

<h2>View1</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>EF_Account_UserEntity</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserID)
            @Html.ValidationMessageFor(model => model.UserID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserName)
            @Html.ValidationMessageFor(model => model.UserName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NickName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NickName)
            @Html.ValidationMessageFor(model => model.NickName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TrueName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TrueName)
            @Html.ValidationMessageFor(model => model.TrueName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Sex)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Sex)
            @Html.ValidationMessageFor(model => model.Sex)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Phone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Phone)
            @Html.ValidationMessageFor(model => model.Phone)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EmployeeID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EmployeeID)
            @Html.ValidationMessageFor(model => model.EmployeeID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DepartmentID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DepartmentID)
            @Html.ValidationMessageFor(model => model.DepartmentID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Activity)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Activity)
            @Html.ValidationMessageFor(model => model.Activity)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserType)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserType)
            @Html.ValidationMessageFor(model => model.UserType)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Style)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Style)
            @Html.ValidationMessageFor(model => model.Style)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.User_iCreator)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.User_iCreator)
            @Html.ValidationMessageFor(model => model.User_iCreator)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.User_dateCreate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.User_dateCreate)
            @Html.ValidationMessageFor(model => model.User_dateCreate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.User_dateValid)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.User_dateValid)
            @Html.ValidationMessageFor(model => model.User_dateValid)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.User_dateExpire)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.User_dateExpire)
            @Html.ValidationMessageFor(model => model.User_dateExpire)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.User_iApprover)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.User_iApprover)
            @Html.ValidationMessageFor(model => model.User_iApprover)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.User_dateApprove)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.User_dateApprove)
            @Html.ValidationMessageFor(model => model.User_dateApprove)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.User_iApproveState)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.User_iApproveState)
            @Html.ValidationMessageFor(model => model.User_iApproveState)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.User_cLang)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.User_cLang)
            @Html.ValidationMessageFor(model => model.User_cLang)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.auth_token)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.auth_token)
            @Html.ValidationMessageFor(model => model.auth_token)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
